@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  font-family: var(--inter-font);
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-4px);
    }
    20% {
      transform: translateX(4px);
    }
    30% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    50% {
      transform: translateX(-4px);
    }
    60% {
      transform: translateX(0);
    }
  }
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #ffdede;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #ff5c5c;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #691c32;
    }
  
    .animate-shake {
      animation: shake 0.5s;
    }
  }